In [1]:
#Importing the library
import pandas as pd

In [2]:
#Link for IPL 2023 match summaries(ESPN Cricinfo website)
url = 'https://www.espncricinfo.com/records/season/team-match-results/2023-2023?trophy=117'

In [3]:
#Reading the html file(website)
all_tables = pd.read_html(url)

In [4]:
#Cheking the type of the variable
type(all_tables)

list

In [5]:
#Exporting the data into csv file
df = all_tables[0]

df.to_csv('Espncricinfo.csv')

In [7]:
df

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,Titans,Super Kings,Super Kings,5 wickets,Ahmedabad,"May 28-29, 2023",Twenty20
1,Titans,Mumbai,Titans,62 runs,Ahmedabad,"May 26, 2023",Twenty20
2,Super Giants,Mumbai,Mumbai,81 runs,Chennai,"May 24, 2023",Twenty20
3,Super Kings,Titans,Super Kings,15 runs,Chennai,"May 23, 2023",Twenty20
4,RCB,Titans,Titans,6 wickets,Bengaluru,"May 21, 2023",Twenty20
...,...,...,...,...,...,...,...
69,RCB,Mumbai,RCB,8 wickets,Bengaluru,"Apr 2, 2023",Twenty20
70,Sunrisers,Royals,Royals,72 runs,Hyderabad,"Apr 2, 2023",Twenty20
71,Super Giants,Capitals,Super Giants,50 runs,Lucknow,"Apr 1, 2023",Twenty20
72,Punjab Kings,KKR,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",Twenty20
73,Titans,Super Kings,Titans,5 wickets,Ahmedabad,"Mar 31, 2023",Twenty20